/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Base Styles */
body {
    background-color: #ffffee;
    font-family: 'Lora';
}

/* Typography */
h1,
h2 {
    text-align: center;
}

p {
    padding: 0 1rem;
}

/* Layout and Containers */
header {
    margin: 0 auto;
    min-height: 120px;
    width: 300px;
    color: white;
    box-shadow: 0 0px 8px gray;
    border-radius: 8px;
    background:
        /* https://codepen.io/radioprog/pen/VevoYW */
        linear-gradient(to right bottom,
            #10631f 38%, #8d750b 0, #8d750b 42%, #000 0,
            #000 58%, #6b5909 0, #8d750b 62%, #006185 0);
}

section {
    margin: auto;
    text-align: center;
    box-shadow: 0 0px 10px gray;
    border-radius: 3px;
}

img {
    max-width: 90%; 
    border-radius: 0.5rem;
    margin: 5px 0;
    max-height: 50vh;
}

button {
    margin: 1%;
    padding: 1rem;
    font-family: 'Lora';
    min-width: 175px;
}

/* Media Queries */
@media (min-width: 768px) {
    section {
        max-width: 70%;
    }
}

.hide {
    display: none;
}