/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Base Styles */
* {
    margin: 0;
}

body {
    background-color: #ffffee;
    font-family: 'Lora';
}

/* Typography */
h1,
h2 {
    text-align: center;
}

h4 {
    margin: 1rem;
}

p {
    padding: 1rem;
}

/* Layout and Containers */
header {
    height: 140px;
    position: relative;
    box-shadow: 0 0px 4px black;
}

section {
    margin-top: 1rem;
    text-align: center;
}

.flex-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.destination {
    margin: 1rem;
    border: 1px;
    padding: 0 1rem;
    border: 1px solid black;
    box-shadow: 0 0px 7px #000;
    padding: 1rem;
    border-radius: 1rem;
    flex-basis: 50%;    
    max-width: 40%;
}

#search_here {
    margin: 1rem 0;
    width: 50%;
    max-width: 300px;
}

/* Logo */
#logo {
    cursor: pointer;
    position: absolute;
    font-style: italic;
    margin: 5px;
    min-height: 120px;
    width: 150px;
    color: white;
    box-shadow: 0 0px 8px gray;
    border-radius: 8px;
    background:
        /* https://codepen.io/radioprog/pen/VevoYW */
        linear-gradient(to right bottom,
            #10631f 38%, #8d750b 0, #8d750b 42%, #000 0,
            #000 58%, #6b5909 0, #8d750b 62%, #006185 0);
}

/* Menu */
#menu {
    display: none;
    position: absolute;
    right: 4%;
    top: 45px;
    justify-content: space-evenly;
    width: 45vw;
}

/* Dropdown */
#dropdown-toggler input {
    position: absolute;
    right: 70px;
    top: 60px;
}

#label-toggler {
    position: absolute;
    right: 10%;
    top: 40px;
    cursor: pointer;
    padding: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffee;
    min-width: 121px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 2%;
    top: 125px;
    padding: 1rem;
}

.dropdown-menu li {
    display: inline;
}

.dropdown:checked+.dropdown-menu {
    display: block;
}

/* List Styles */
li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px;
}

/* Hover Effects */
a:hover,
#label-toggler:hover {
    background-color: rgb(202, 202, 202);
    transition: background-color 0.3s ease-in-out;
}

/* Images */
img {
    max-width: 90%;
    border-radius: 0.5rem;
    margin: 5px 0;
    max-height: 50vh;
}

/* Buttons */
button {
    margin: 1%;
    padding: 1rem;
    font-family: 'Lora';
    min-width: 175px;
}

#up-button {
    position: fixed;
    bottom: 0%;
    right: 2%;
    background: seagreen;
    color: white;
}

/* Media Queries */
@media (min-width: 768px) {
    #menu {
        display: flex;
    }

    #dropdown-toggler,
    #label-toggler {
        display: none;
    }
}

/* Utility Classes */
.hide {
    display: none;
}